# Logs and workspace files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log.husky/
pnpm-lock.yaml
.idea
.DS_Store

# local debug workspaces
debug-workspace*

# Jetbrains IDE
.idea/

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env.production

# Build output
dist/
out/